@font-face 
{
    font-family: 'WorkSans-SemiBold';
    font-weight: 600px;
    font-style: normal;
    src: url('../../Assets/Fonts/WorkSans-SemiBold.ttf')  format('truetype')
}



.background-picture {
    background-image: url("../../Assets/IMG/backgroundFirstBlock.jpg");
    background-repeat: no-repeat;
    background-position: center;
    
    background-size: cover;
    background-attachment: scroll;
}

.fisrt-block-description {
    color: #292E3D;
}



.first-block-inner {
    width: 1216px;
    
    margin: 0 auto;
    
}


.fisrt-block-description {
    width: 556px;
    padding-top: 239px;
    padding-bottom: 239px;
    font-size: 72px;
    font-family: 'WorkSans-SemiBold';
}