.third-block-inner {
    width: 1216px;
    margin: 0 auto;
    padding-top: 74px;
    display: flex;
    margin-bottom: 202px;
}

.about-us-div {
    margin-left: -176px;
    margin-top: 73PX;
    
}

.person-img{
    padding-left: 2px;

}