


.background-picture {
    background-image: url("../../Assets/IMG/backgroundFirstBlock.jpg");
    background-repeat: no-repeat;
    background-position: left 0px top 0%;
    
    background-size: cover;
    background-attachment: scroll;
}
