* {
    box-sizing: border-box;
}

@font-face 
{
    font-family: 'Raleway-Medium';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/Raleway-Medium.ttf')  format('truetype')
}


@font-face 
{
    font-family: 'Raleway-ExtraLight';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/Raleway-ExtraLight.ttf')  format('truetype')
}

.top-menu-item a {
    text-decoration: none;
}

body a {
    color: #2C2D35;
    font-size: 20px;
    font-family: 'Raleway-Medium';
}

.head {
    background-color: #E1EDE6;
}

.head-inner {
    width: 1110px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}

.head-logo-img {
    padding-top: 38px;
}


.list-menu {
    padding-top: 38px;
}


.top-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
  
.top-menu-item {
    margin-right: 58px;
}
  
.top-menu-item:last-child {
    margin-right: 0;
}


.first-block {
    width: 1110px;
    margin: 0 auto;
    background-image: url(Assets/Layer\ 0\ 1.png);
    background-repeat: no-repeat;
    background-position: left 0px top 0%;
    padding-top: 145px;
    padding-bottom: 144px;
    
    
}

.first-inner-block {
    width: 540px;
    /* padding-top: 145px; */
    
    margin-left: 570px;
    display: flex;
    flex-direction: column;
    
    
}


.description-first-block {
    padding-top: 20px;
    font-size: 18px;
    color: #86928B;
    font-family: 'Raleway-Medium';
}



.head-first-block {
    font-size: 60px;
    font-family: 'Raleway-Medium';
}

button {
    color: #598D66;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    
}

.first-block-button {
    margin-top: 60px;
    
    width: 225px;
    /* display: inline-block; */
    border: 2px solid #598D66;
    padding: 20px 60px;
}



.head-first-block .highlight-text {
    color: #598D66;
}

.second-block {
    margin-top: 69px;
}


.second-block-inner {
    width: 1110px;
    margin: 0 auto;
}

.second-block-head {
    display: flex;
    justify-content: space-between;
}


.second-block-buttons {
    display: flex;
    justify-content: space-between;
}



.sc-button:last-child {
    margin-right: 0px;
}

.second-block-head-descr {
    font-size: 40px;
    font-family: 'Raleway-Medium';
}

.sc-button {
    margin-right: 32px;
    font-size: 20px;
    border-radius: 20px;
    background-color: #D4E8D9;
    color: #2C2D35;
    font-family: 'Raleway-Medium';
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    text-align: center;
}

.sc-button:first-child {
    background-color: #376B44;
    color: #F4F6F5;
}

.second-block-items {
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.second-block-item {
    /* margin-right: 30px; */
    margin-left: 0px;
    background-color: #E1EDE6;
    width: 350px;
    margin-top: 30px;
    /* margin-bottom: 30px; */
}


.second-block-item:last-child {
    margin-right: 0px;
}

.second-block-item-inner {
    width: 310px;
    margin: 0 auto;
    padding-top: 20px;
}


.item-img {
    margin-bottom: 20px;
}

.item-artist-name {
    font-size: 18px;
    margin-bottom: 10px;
    color: #86928B;
    font-family: 'Raleway-Medium';
    
}

.item-art-name {
    font-size: 30px;
    margin-bottom: 8px;
    font-family: 'Raleway-Medium';
    
}

.item-description {
    margin-bottom: 30px;
    font-size: 18px;
    font-family: 'Raleway-Medium';
}

.item-price {
    font-size: 24px;
    margin-bottom: 20px;
    color: #598D66;
    font-family: 'Raleway-Medium';
   
}

.button-item {
    
    width: 310px;
    border: 1px solid #598D66;
    padding: 21px 107.5px;
    margin-bottom: 30px;
}

.third-block {
    background-image: url(Assets/WhatsApp\ Image\ 2024-01-11\ at\ 00.03.26.jpeg);
    background-repeat: no-repeat;
    background-position: left 0px top 0%;
    background-size: cover;
    margin-top: 70px;
}

.third-block-inner {
    
    width: 1110px;
    margin: 0 auto;
    padding-top: 70px;
}

.third-block-item {
    background-image: url(Assets/Star\ 2.png);
    background-repeat: no-repeat;
    background-position: left 0px top 0%;
    width: 540px;
    color: #F4F6F5;
    font-family: 'Raleway-ExtraLight';
}

.third-block-head {
    padding-left: 100px;
    font-size: 40px;
    margin-bottom: 20px;
    font-family: 'Raleway-Medium';
}

.th-bl-description1 {
    font-size: 18px;
    margin-bottom: 20px;
}

.th-bl-description2 {
    margin-bottom: 60px;
}


.th-bl-button {
    background-color: #EEDB6D;
    width: 257px;
    padding: 21px 60px;
    margin-bottom: 70px;
    color: #2C2D35;
}
