
@font-face 
{
    font-family: 'Work-Sans';
    font-weight: 400px;
    font-style: normal;
    src: url('../../Assets/Fonts/WorkSans-Regular.ttf')  format('truetype')
}

.header-parent {
    width: 1216px;
    margin: 0 auto;
    font-family: 'Work-Sans';
    padding-top: 16px;
    padding-bottom: 16.5px;
    display: flex;
    justify-content: space-between;
}


