
@font-face 
{
    font-family: 'WorkSans-SemiBold';
    font-weight: 600px;
    font-style: normal;
    src: url('../../Assets/Fonts/WorkSans-SemiBold.ttf')  format('truetype')
}


.header-parent {
    width: 1216px;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 16.5px;
    display: flex;
    justify-content: space-between;
}


.first-block-inner {
    width: 1216px;
    
    margin: 0 auto;
    
}


.fisrt-block-description {
    width: 556px;
    padding-top: 239px;
    padding-bottom: 239px;
    font-size: 72px;
    font-family: 'WorkSans-SemiBold';
}