@font-face 
{
    font-family: 'WorkSans-Bold';
    font-weight: 700px;
    font-style: normal;
    src: url('../../Assets/Fonts/WorkSans-Bold.ttf')  format('truetype')
}


@font-face 
{
    font-family: 'Work-Sans';
    font-weight: 400px;
    font-style: normal;
    src: url('../../Assets/Fonts/WorkSans-Regular.ttf')  format('truetype')
}


@font-face 
{
    font-family: 'WorkSans-SemiBold';
    font-weight: 600px;
    font-style: normal;
    src: url('../../Assets/Fonts/WorkSans-SemiBold.ttf')  format('truetype')
}

.star {
    color: red;
}

.feed-back{
    width: 592px;
    margin: 0 auto;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 61px;
}


.fb-header {
    width: 432px;
    margin: 0 auto;
    color: #292E3D;
    font-family: 'WorkSans-Bold';
    font-size: 36px;

}


.fb-description {
    width: 539px;
    margin: 0 auto;
    font-family: 'Work-Sans';
    font-size: 20px;
    color: #292E3D;
    text-align: center;
    margin-top: 20px;
}


.name-email-group {
    width: 592px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
}

.reason-phone-group {
    width: 592px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


.name-div {
    
    width: 280px;
    font-family: 'Work-Sans';
    font-size: 18px;
    color: #E0E3EB;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    border: 1px solid #E0E3EB;
    border-radius: 4px;
}





.message-div {
    width: 592px;
    font-family: 'Work-Sans';
    font-size: 18px;
    color: #E0E3EB;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 104px;
    padding-left: 8px;
    border: 1px solid #E0E3EB;
    border-radius: 4px;
}
.name-div::placeholder {
    color: 
    #A3AAC2;
}

.message-div::placeholder {
    color: 
    #A3AAC2;
}

.required-div {
    font-family: 'Work-Sans';
    font-size: 16px;
    margin-top: 8px;
    color: #667299;
    align-self: self-start;
}


.btn-submit {
    width: 271px;
    margin: 0 auto;
    background-color: #2947A9;
    font-family: 'WorkSans-SemiBold';
    font-size: 18px;
    color: #FFFFFF;
    padding: 16px 103.5px 16px 103.5px;
    border-radius: 2px;
    margin-top: 28px;
}