
@font-face 
{
    font-family: 'WorkSans-SemiBold';
    font-weight: 600px;
    font-style: normal;
    src: url('../../Assets/Fonts/WorkSans-SemiBold.ttf')  format('truetype')
}


.icon-img {
    padding-top: 38px;
}

.line-img {
    margin-top: 20px;
}

.description {
    font-family: 'WorkSans-SemiBold';
    
    font-size: 20px;
    margin-top: 20px;
    padding-bottom: 38px;
}