.circle-div {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #F6F8F7;
    margin-right: 15px;
}


.circle-div:last-child {
    margin-right: 0px;
}

.blue {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #2947A9;
    margin-right: 15px;
}