
@font-face 
{
    font-family: 'WorkSans-Medium';
    font-weight: 500px;
    font-style: normal;
    src: url('../../../Assets/Fonts/WorkSans-Medium.ttf')  format('truetype')
}


.menu-item {
    font-size: 24px;
    font-family: 'WorkSans-Medium';
    color: #C2C7D6;
    margin-top: 20px;
    margin-left: 20px;
}

